<nav class="navbar navbar-expand bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-5">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" [routerLink]="['/']">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['/albums']">Albums</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Il codice non commentato è quello che ho fatto da sola, ma non funziona correttamente, quando vado nella pagina Albums cliccando sul link "clicca: qui" la sezione Albums non ha la classe 'active'. Il codice commentato, invece, funziona correttamente tutto, ma non è farina del mio sacco, però me lo tengo per avercelo come riferimento

    <nav class="navbar navbar-expand bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-5">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" [routerLink]="['/']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/albums']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Albums</a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->


              